{% extends "control/base.html" %}

{% block contenido %}
    <h1>Perfil Usuario</h1>
    <ul>
        <li><strong>Nombre de usuario:</strong> {{ user.username }}</li>
        <li><strong>Correo electrónico:</strong> {{ user.email }}</li>
        <li><strong>Nombre:</strong> {{ user.first_name }}</li>
        <li><strong>Apellido:</strong> {{ user.last_name }}</li>
    </ul>
    <p><a href={% url "control:editar perfil"%}><button>Editar Perfil</button></a></p>
    <p><a href={% url "control:index"%}><button>Inicio</button></a></p>
{% endblock contenido %}