{% extends "control/base.html" %}

{% block contenido %}
    <h1> Historico Egresos </h1>
    <a href="{% url "control:index" %}"><button>Inicio</button></a>
    <a href="{% url "control:form_egresos" %}"><button>Registro</button></a> 
    {% if messages %}{% for message in messages %}{{ message }}{% endfor %}{% endif %}   
       
    <form method="get">
        <div style="border: 1px solid #ccc; padding: 5px;"> {{ form.as_p }}
            <button type="submit">Filtrar</button>
            <a href="{% url 'control:vista_egresos' %}">Limpiar Filtro</a>
        </div>
    </form>

    <table style="margin: 20px auto;" border=2>
        <thead>
            <tr>
                <th>Gasto</th>
                <th>Fuente</th>
                <th>Fecha Egreso</th>
                <th>Monto ($)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <body>
            {% for object in object_list %}
            <tr>    
                <td> {{object.gasto}}</td>
                <td> {{object.fuente}}</td>
                <td> {{object.fecha_gasto}}</td>
                <td> {{object.valor_gasto}}</td>
                <td> 
                    <a href={% url "control:detail_egresos" object.id %}>
                        <button>Ver</button>
                    </a>
                    <a href={% url "control:update_egresos" object.id %}>
                        <button>Editar</button>
                    </a>
                    <a href={% url "control:delete_egresos" object.id %}>
                        <button>Eliminar</button>
                    </a>
                </td>    
            </tr>    
            {% endfor %}
        </body>
    </table>
{% endblock contenido %}
